
header { background-color:#00B386; 
color:#FFFFFF;
 padding: 20px; background-image: url(assets/pasture.png);
background-repeat: no-repeat; 
background-position:right;
 line-height: 400%; 
 height: 175px;
 padding-top: 30px;
 padding-left: 3em;
 text-indent: 1em;
}

body { background: #FFFFFF;
    color: #666666;
font-family: Arial, Helvetica, sans-serif; } 

nav ul{
   padding:1.5em;
	font-size: 120%;
	float: left;
	width: 160px;
	list-style-type: none;
  padding-left: 0px; 
  font-weight: bold;
  
}
nav a {
	text-decoration: none;
}
nav a:link{
	color:#00664D;
}
nav a:visited{
	color:#7A7A52;
}
nav a:hover{
	color:#FFFFFF;
}
h2 {
    color: #00664D;
	text-shadow: 1px 1px #CCCCCC;
font-family:Georgia, Times New Roman, Serif;
}
dt {
    color: #00664D;
}
.barn {
    color: #70DBDB;
font-weight:bold;}

h1 {
    margin-bottom: 0px;
	text-align:center;
	margin-top:0px;
 letter-spacing:0.25em;
 font-size: 3em;
}
#homeImage { background-image: url(file/sunsetHorse.png);
    		   height: 300px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
		   margin-left: 190px;
 }
 
 #wrapper {
 background-image: linear-gradient(#FFFFFF, #0C5442);
margin-left:auto; 
 margin-right:auto;
 width: 80%;
 min-width: 900px;
 max-width: 2050px;
 box-shadow: 4px 4px 0px 0px #133926;
 border: #003300;
 }
 
 main { 
 padding-top: 1px;
 padding-right: 20px;
 padding-left: 20px;
 padding-bottom: 20px;
 display:block;
 background-color: #FFFFFF;
 margin-left: 190px;
 }
 
 #boardImage { background-image: url(assets/fenceline.png);
             height: 300px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
		    margin-left: 190px;
}

 #trainingImage { background-image: url(assets/BayBella.png);
             height: 300px;
		   background-repeat: no-repeat;
		   background-size: 100% 100%;
		    margin-left: 190px;
}

footer {
	font-size:75%;
	font-style:italic;
	font-family:Georgia, Times New Roman, Serif;
	margin-left:190px;
	background-color: #FFFFFF;
	text-align:center;
}

main ul {
  list-style-image: url(assets/marker.gif);
}

#contact { 
font-size: 90%; }

* {
  box-sizing: border-box;
}

